.header {
    padding: 4rem 5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    min-height: 100vh;
}

.h1tag {
    font-family: var(--font-fam);
    color: black;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    line-height: 80px;
    font-size: 50px;

}

.ptag {
    font-family: var(--font-fam);
    /* color: var(--color-white); */
    font-weight: 500;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    line-height: 28px;
    font-size: 25px;

    margin: 2rem 0;
}

.header-content{
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.header-img {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 2rem;
}

.header-img img {
    width: 100%;
}

@media screen and (min-width: 2000px) {
    .h1tag {
        font-size: 180px;
        line-height: 210px;
    }
}

@media screen and (max-width: 1150px) {
    .h1tag {
        font-size: 73px;
    }

    .header {
        flex-direction: column;
    }
}

@media screen and (max-width:910px) {
    .h1tag {
        font-size: 65px;
    }
}

@media screen and (max-width:810px) {
    .h1tag {
        font-size: 60px;
    }
}

@media screen and (max-width: 650px) {
    .h1tag {
        font-size: 60px;
        line-height: 87px;
    }
}

@media screen and (max-width:566px) {
    .h1tag {
        font-size: 55px;
    }

    .ptag {
        line-height: 37px;
        font-size: 23px;
    }
}

@media screen and (max-width:535px) {
    .h1tag {
        font-size: 45px;
        line-height: 79px;
    }

}

@media screen and (max-width: 466px) {

    .h1tag {
        font-size: 39px;
        line-height: 67px;
    }

    .ptag {
        line-height: 32px;
        font-size: 18px;
    }

    .header-img img {
        /* width: 150%; */
    }
}

@media screen and (max-width:330px) {
    .h1tag {
        font-size: 35px;
        line-height: 60px;
    }

    .header-img img {
        /* width: 150%; */
    }
}

@media screen and (max-width:271px) {
    .h1tag {
        font-size: 30px;
        line-height: 50px;
    }

    .ptag {
        line-height: 25px;
        font-size: 15px;
    }
}

